@use "sass:math";

$bg-size: 200%;

$DEFAULT_TILE_WIDTH: 40px;
$DEFAULT_TILE_HEIGHT: 60px;

$TILE_RATIO: math.div($DEFAULT_TILE_HEIGHT, $DEFAULT_TILE_WIDTH);

$RES_DIR: "/res";

$BLACK: #000;
$RED: #FF0000;

$TITLE_COLOR: $RED;
$BUTTON_COLOR: $RED;
$PLAY_BUTTON_COLOR: $BLACK;
$PLAY_BUTTON_BACKGROUND_COLOR: #9F1D17;
$PLAY_BUTTON_BORDER_COLOR: $BLACK;
$PLAY_BUTTON_INNER_BACKGROUND_COLOR: #C6251D;
